<% provide(:title, "トップ") %>

  <div class="row">
    <div class="col-md-10">
      <div class="center jumbotron">
        <h1>勤怠システム B</h1>
        <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
        <p>アカウント作成は<%= link_to "こちら", '#' %>から</p>
       </div>
   </div>
  </div>