<% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AttendancemB</title>
  </head>

 <body>
  <div class="row">
    <div class="col-md-9">
      <h1>勤怠システム</h1>
      <p class="btn btn-parimary">ログイン</p>
      <p>アカウント作成はこちらから</p>
     </div>
   </div>
 </body> 
</html>