<% provide(:title, "社員一覧") %>

<h1>Z戦士一覧</h1>

<div class="csv-holder">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file, class:"btn btn-default" %>
    <%= submit_tag "CSVをインポート", class:"btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">

  <ul class="users">
    <%= render @users %>
  </ul>
  
</div>

