<% provide(:title, "出動戦士一覧") %>
<h1>出勤中社員一覧</h1>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered table-hover" id="table-users">
    <thead>
        <tr>
          <th>社畜番号</th>
          <th>氏名</th>
        </tr>
      </thead>
      <% @working_users.each do |user| %>
        <tr>
          <td><%= user.employee_number %></td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
  </div>
</div>


