<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠システムB", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top",   root_path, class:"header-list" %></li>
        <li><%= link_to "Log in", login_path, class:"header-list" %></li>
      </ul>
    </nav>
  </div>
</header>