<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠システム B", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top",   '#', class:"header-list" %></li>
        <li><%= link_to "Log in", '#', class:"header-list" %></li>
      </ul>
    </nav>
  </div>
</header>